body {
  margin: 0;
  padding: 0;
  background-color: white; /* 전체 페이지 배경색 설정 */
}

h1,
p,
label {
  color: black;
}

h1 {
  font-size: 30px;
  max-width: 300px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.book-details {
  display: flex;
  justify-content: center; /* 요소들을 가운데 정렬 */
  align-items: flex-start;
  margin-top: 30px;
  gap: 20px; /* 요소들 사이의 간격 */
}

.book-info {
  margin-right: 100px;
  flex: 2.5;
}

.purchase-info {
  position: relative;
  margin-left: 20px; /* book-info와 거리를 두기 위함 */
  align-self: center; /* 상위 컨테이너의 시작 부분에 정렬 */
}

.book-image {
  width: 380px; /* 이미지 너비를 380px로 설정 */
  height: 490px;
  margin-bottom: 10px;
}

.price {
  font-size: 24px;
}

.add-to-cart,
.buy-now {
  display: block;
  margin-top: 10px;
}

.buttons-container {
  display: flex;
  gap: 10px;
  position: absolute;
  width: 300px;
}

.quantity-container {
  width: 150px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.itemName {
  text-align: center; /* 제목 중앙 정렬 */
  margin-bottom: 20px; /* 제목 아래 마진 */
  font-size: 32px;
}

.author,
.publisher {
  text-align: center;
  font-size: 16px;
}
